/* General */
.input-slider {
    padding: 0rem 0rem;
    margin: 0rem;

    filter: saturate(0%);
}

.input-slider__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-slider__value {
    padding: 0rem 0.0rem;
    color: var(--foreground-dim);
}

/* Label */
.input-slider__label {
    font-size: 1.0em;
    padding: 0rem;
    margin: 0rem;
    color: var(--foreground);
}

/* All input */
.input-slider__input {
    padding: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0rem;
}

.input-slider__slider {
    flex-grow: 100;
    margin: 0rem;
}


/* Slider */
.MuiSlider {
    size: 0.5rem;
    padding: 0rem;
}

.MuiSlider-root {
    size: 0.2rem;
    margin: 0rem;
}

.MuiSlider-rail {
    color: var(--foreground);
    padding: 0px 0;
}

.MuiSlider-track {
    color: var(--foreground);
    padding: 0px 0;
}

.MuiSlider-thumb {
    color: var(--foreground);
    padding: 0px 0;
}

.MuSlider-thumb .MuiSlider-active {
    background-color: #fff; 
    border: 1px solid currentColor;
    box-shadow: #ebebeb 0 2px 2px;
}

.Mui-focusVisible {
}
