.panel-controller__nav {
    position: absolute;
    width: 100%;
    height: var(--navbar-height);

    padding: 0.0rem 0.0rem;

    overflow-y: hidden;
    overflow-x: scroll;
    background-color: var(--transparent-background);
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.panel-controller__panel {
    width: min(20%, 20rem);
    height: calc(100% - var(--navbar-height));

    position: absolute;
    bottom: 0;

    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: var(--transparent-background);
    margin: 0vh 0.0vh;

    transform: translateX(0);

    -webkit-transition: 1.0s ease !important;
    -moz-transition: 1.0s ease !important;
    -o-transition: 1.0s ease !important;
    transition: 1.0s ease !important;
}

.hidden {
    transform: translateX(-100%);
    -webkit-transition: 0.5s ease !important;
    -moz-transition: 0.5s ease !important;
    -o-transition: 0.5s ease !important;
    transition: 0.5s ease !important;
}

.panel-controller__nav__entry {
    background-color: transparent;
    padding: 0.1rem;
}

.panel-controller__nav__entry__button {
    padding: 0.1rem 0.4rem;
}