/* General */
.input-switch {
    padding: 0rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Label */
.input-switch__label {
    font-size: 0.8rem;
    font-weight: normal;
    padding: 0rem;
    margin: 0rem;
    color: var(--foreground);
}

/* Input switch */
.input-switch__switch {
    flex-grow: 0;
}
