.settings {
    width: 20%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.settings::-webkit-scrollbar {
    width: 1px
}

/* Track */
.settings::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.canvas {
    width: 80%;
    height: 100vh;
    position: absolute;
    right: 0
}