.settings {
    width: 20%;
    height: 100%;
    position: absolute;
}

.settings__container {
    padding: 1rem;
}

.canvas {
    width: 80%;
    height: 100vh;
    position: absolute;
    right: 0
}