/* ENTIRE SIDEBAR */
.sidebar-container {
    position: absolute;
    width: var(--sidebar-width);
    height: calc(100%);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--transparent-background);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar-main {
    height: 100%;
    width: 40%;

    color: var(--foreground);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-secondary {
    padding: 0.5rem;
    color: var(--foreground);
}

.sidebar-settings {
}

/* CATEGORY */
.sidebar-category {
    transition: 0.5s ease;
    padding: 5%;
    margin: 0rem;

    color: var(--foreground);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sidebar-category--expanded {

    color: var(--foreground-highlight)
}

.sidebar-category--active {
    background-color: var(--transparent-background)
}

.category-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-arrow-container {
    position: relative;
    top: 05%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.category-arrow {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--foreground-highlight);
    transition: 0.5s;
}

.category-arrow--expanded {
    margin-top: 1px;
    /*width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid var(--foreground);*/
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.category-title {
    padding: 0rem;
    padding-bottom: 1rem;
    margin: 0rem;

    color: var(--foreground);

    cursor: pointer;
}

.category-title--expanded {
    padding-bottom: 0rem;
    filter: brightness(120%);
}

.category-title--active {
    text-transform: uppercase;

}

.category-entries {
    position: relative;
    visibility: hidden;
    opacity: 0;
    max-height: 0px;
    transition: max-height 0.6s, opacity 1s, visiblity 2s ease;
}

.category-entries--expanded {
    visibility: visible;
    max-height: 250px;
    opacity: 1;
    transition: max-height 0.7s, opacity 1s, visibility 2s ease;
}

.entry {
    padding: 0.0rem;
    padding-left: 1.0rem;
    cursor: pointer;
    filter: brightness(70%);
}

.entry:hover {
    color: var(--button-hover-color);
}

.entry--picked {
    filter: brightness(120%);
    color: var(--button-active-color);
}
