
a {
    color: var(--foreground);
    border-bottom: solid 1px var(--foreground);
    text-decoration: none;
}

a:hover {
    color: var(--foreground-highlight);
    border-bottom: solid 1px var(--foreground);
}

.help-page {
    background-color: var(--background);
    color: var(--foreground);
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    width: var(--help-page-width);
    height: 80%;
    z-index: 1;

    top: 10%;
    left: calc(50% - var(--help-page-width) / 2);
    padding: 1rem;

    filter: drop-shadow(10px, 10px, 20px, var(--foreground));
    box-shadow: 0px 0px 8px black;

    font-family: var(--normal-font);

    transform: translateY(112%);
    transition: 0.8s;

    z-index: 1000;
    overflow-y: hidden;
}

.help-page--visible {
    transform: translateY(0%);
}

.help-page__content {
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.help-page__content::-webkit-scrollbar {
    display: none;
}

.title {
    text-transform: uppercase;
    text-align: center;
    margin: 0.5rem 0rem;
    color: var(--foreground-faded);
    font-family: var(--bold-font);
}

.help-page__content__shortcuts {
    padding: 0rem 2rem;
}

.shortcut__columns {
    color: var(--foreground-faded);
    border-bottom: var(--border-width) solid var(--foreground-dark);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem;
    margin: 0.2rem 2rem;

    text-transform: uppercase;
    font-family: var(--bold-font);
}


.shortcut-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem;
    margin: 0rem 2rem;

    border-bottom: var(--border-width) solid var(--foreground-dark);
}

.shortcut-entry__keys {
    padding: 0.5rem;
    font-size: 0.9rem;
    font-family: var(--bold-font);
    background-color: var(--background-tertiary);
    color: var(--foreground-dim);
    box-shadow: var(--box-shadow);
}

.shortcut-entry__description {
    text-align: justify;
    padding-top: 0.4rem;
}

.descriptions-entry {
    padding: 0.2rem 2rem;
    text-align: justify;
}

.descriptions-entry__title {
    font-family: var(--bold-font);
    text-transform: uppercase;
    color: var(--foreground-faded);
    margin: 0.0rem 0.0rem;
    margin-top: 0.3rem;
}

.descriptions-entry__content {
}

.help-page__content__contact {
    padding: 0.2rem 4.3rem;
}

.contact-category__entry {
    display: flex;
    flex-direction: row;;
    justify-content: space-between;
    padding: 0.3rem 0rem;
    margin: 0rem 0rem;
    border-bottom: var(--border-width) solid var(--foreground-dark);
}

.contact-category__entry__location {
}

.contact-category__entry__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    
    border-bottom: solid 0px var(--foreground);
    text-decoration: none;

    background-color: var(--background-secondary);
    padding: 0.5rem 0.8rem;

    font-family: var(--bold-font);
    font-size: 0.9rem;
    color: var(--foreground-dim);

    transition: 0.5s;
    border-radius: 5px;

    box-shadow: var(--box-shadow);
}

.contact-category__entry__link:hover {

    color: var(--foreground-dim);
    border-bottom: solid 0px var(--foreground);
    filter: brightness(125%);
}

.contact-category__entry__link__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-left: 0.5rem;
}


.icon {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert() brightness(80%);
}

.icon g {
    fill: var(--foreground);
}

.icon path {
    stroke: var(--foreground);
    stroke-width: 10px;
}

.contact-category__entry__description {
    text-align: left;
    width: 45%;
    padding: 0rem 0rem 0rem 0;
}

.contact-category__title {
    margin-bottom: 0.5rem;
    margin-top: 1.0rem;
    text-transform: uppercase;
    font-family: var(--bold-font);
    color: var(--foreground-faded);
}


.help-page__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--foreground-dim);
    padding: 1.0rem 0rem 0rem 0rem;
}

.help-page__buttons__button {
    width: 100%;

    font-size: 1.0rem;
    background-color: transparent;
    color: var(--foreground-dim);
    border: 0px solid var(--foreground-dark);
    transition-duration: 0.3s;
    padding: 0.2rem;
    margin: 0.0rem 2.0rem;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.help-page__buttons__button:hover {
    color: var(--foreground-highlight);
    background-color: var(--background-bright);
}

.help-page__buttons__previous:hover {
}

.help-page__buttons__next:hover {
    color: var(--foreground);
}

.help-page__buttons__disabled {
    filter: brightness(40%);
    cursor: initial;
}


.math {
    text-align: center;
    vertical-align: middle;
    color: var(--foreground-accent);
}

.help-page__close-button {
    border-radius: 50%;
    border: var(--border-width) solid var(--foreground-faded);
    background-color: var(--background);
    padding: 0.5rem;
    width: 22px;
    height: 22px;
    color: var(--foreground-dim);
    left: 95%;
    position: relative;

    cursor: pointer;
    transition: 0.5s;
}

.help-page__close-button:hover {
    background-color: var(--background-secondary);
    filter: brightness(120%);
}
  
.help-page__close-button::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: var(--foreground-faded);
    width: 2px;
    left: 8px;
    top: 2.0px;
    bottom: 2.0px;
    transform: rotate(45deg);
}
.help-page__close-button::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: var(--foreground-faded);
    height: 2px;
    top: 8px;
    left: 2.0px;
    right: 2.0px;
    transform: rotate(45deg);
}

.help-page__side-number {
    color: var(--foreground-faded);
}