
a {
    color: var(--foreground);
    border-bottom: dashed 1px var(--foreground);
    text-decoration: none;
}

a:hover {
    color: var(--foreground-highlight);
    border-bottom: solid 1px var(--foreground);
}

.help-page {
    background-color: var(--background);
    color: var(--foreground);
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    width: var(--help-page-width);
    height: 80%;
    z-index: 1;

    top: 10%;
    left: calc(50% - var(--help-page-width) / 2);
    padding: 1rem;
    margin: -1rem 0 0 -1rem;

    filter: drop-shadow(10px, 10px, 20px, var(--foreground));
    /*box-shadow: 7px 7px var(--transparent-shadow);
    */
    box-shadow: var(--box-shadow);

    font-family: var(--normal-font);
}

.help-page__content {
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.help-page__content::-webkit-scrollbar {
    display: none;
}

.title {
    text-align: center;
}

.shortcut__columns {
    color: var(--foreground-faded);
    border-bottom: var(--border-width) solid var(--foreground-dark);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem;
    margin: 0.5rem 2rem;
}


.shortcut-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem;
    margin: 0rem 2rem;

    border-bottom: var(--border-width) dotted var(--foreground-dark);
}

.shortcut-entry__keys {
    padding: 0rem 30% 0rem 0rem;
}

.shortcut-entry__description {
    text-align: right;
}

.descriptions-entry {
    padding: 0.2rem 2rem;
}

.help-page__content__contact {
    padding: 0.2rem 2rem;
}

.contact-category__entry {
    display: flex;
    flex-direction: row;;
    justify-content: space-between;
    padding: 0.3rem 0rem;
    margin: 0rem 0rem;
    border-bottom: var(--border-width) dotted var(--foreground-dark);
}

.contact-category__entry__description {
    text-align: right;
    padding: 0rem 0rem 0rem 10%;
}


.help-page__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--foreground-dim);
    padding: 1.0rem 0rem 0rem 0rem;
}

.help-page__buttons__button {
    font-size: 1.0rem;
    background-color: transparent;
    color: var(--foreground-dim);
    border: 0px solid var(--foreground-dark);
    transition-duration: 0.3s;
    padding: 0.2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.help-page__buttons__previous:hover {
    color: var(--foreground);
}

.help-page__buttons__next:hover {
    color: var(--foreground);
}

.math {
    text-align: center;
    vertical-align: middle;
    color: var(--foreground-accent);
}

.arrow {
    border: solid #cecece;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
}


.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.help-page__close-button {
    border-radius: 50%;
    border: var(--border-width) solid var(--alert);
    background-color: var(--background);
    padding: 0.5rem;
    width: 15px;
    height: 15px;
    color: var(--alert-bright);
    left: 96%;
    position: relative
}

.help-page__close-button:hover {
    border: var(--border-width) solid var(--alert);
    background-color: var(--alert-dim);
    color: var(--foreground-highlight);
}
  
.help-page__close-button::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: var(--alert);
    width: 2px;
    left: 6px;
    top: 2.0px;
    bottom: 2.0px;
    transform: rotate(45deg);
}
.help-page__close-button::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: var(--alert);
    height: 2px;
    top: 6px;
    left: 2.0px;
    right: 2.0px;
    transform: rotate(45deg);
}