.topbar {
    position: absolute;
    left: 0;
    height: var(--topbar-height);
    width: 100%;

    background-color: var(--background);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.left-container {
    margin: 0.1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding-left: 0.1rem;
}

.center-container {
    margin: 0.1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.right-container {
    margin: 0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    padding-right: 0.2rem;
}

.separator-container {
    color: var(--foreground-faded);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.separator {
    font-size: 2.2rem;
    padding-bottom: 0.2rem;
}