
.category-settings {
    position: absolute;
    left: var(--sidebar-category-width);
    width: calc(var(--sidebar-width) - var(--sidebar-category-width));
    height: calc(100% - var(--border-width) * 2);
    padding: 0rem 0rem;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    background-color: var(--background);
    border: var(--border-width) solid var(--background-bright);

    transition: 1s;
    font-family: var(--normal-font);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    transform: translateX(-100%);
    transition: opacity 1s ease-in;
    opacity: 0;
}

.mounted {
    transform: translateX(0%);
    transition: opacity 1s ease-in;
    opacity: 1;
}

.category-settings__main-container {
}

.category-settings__main-entries {
    padding: 0.5rem 1.5rem;
}

.category-settings__main-title {
    padding: 0.5rem;
    margin: 0rem;

    color: var(--foreground-dim);
    background-color: var(--transparent-background);
    text-align: center;
    font-family: var(--bold-font);
    font-size: 2rem; 
    text-transform: uppercase;
}

.category-settings__main-entry {
    padding: 0rem;
}

.category-settings__secondary-container {
    color: var(--foreground);
    background-color: var(--background-secondary);
    margin: 0.5rem;
}