.category-bar {
    position: absolute;
    box-sizing: border-box;
    top: var(--topbar-height);
    height: calc(100% - var(--topbar-height));
    width: var(--sidebar-category-width);
    color: var(--foreground);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: var(--bold-font);
    text-transform: uppercase;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    /*border-right: var(--border-width) solid var(--background-bright);
    border-top: var(--border-width) solid var(--background-bright);
    */

    z-index: 100;
}

.category-bar__category-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: var(--background);


    transition: 0.5s;
    -webkit-transition: 0.5s;

    cursor: pointer;
}

.category-bar__category-container:hover {
    background: var(--background-highlight);
}

.category-bar__category-container--active {
    background-color: var(--background-bright);
}

.category-bar__category-container--active:hover {
    background-color: var(--background-bright);
    filter: brightness(130%);
}

.category-bar__category {
    font-size: 2rem; 
    text-indent: -2rem;
    text-align-last: center;
    transform: rotate(-90deg);
    text-align: center;
    vertical-align: middle;
}

.category-bar__category--active {

}