
.category-settings {
    position: absolute;
    left: var(--sidebar-category-width);
    width: calc(var(--sidebar-width) - var(--sidebar-category-width));
    height: calc(100% - var(--border-width) * 2);
    padding: 0rem 0rem;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    background-color: var(--background-secondary);
    border: var(--border-width) solid var(--background-bright);

    transition: 1s;
    font-family: var(--normal-font);
}

.category-settings__main-container {
}

.category-settings__main-entries {
    padding: 0.5rem 1.5rem;
}

.category-settings__main-title {
    padding: 0.5rem;
    margin: 0rem;

    color: var(--foreground);
    background-color: var(--background-bright);
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 2rem; 
}

.category-settings__main-entry {
    padding: 0rem;
}

.category-settings__secondary-container {
    color: var(--foreground);
    background-color: var(--background-secondary);
    margin: 0.5rem;
}