.settings {
    width: min(20%, 20rem);
    height: 100%;

    position: absolute;

    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #04040488;
    padding: 0.0vh 0.2vh;

    transform: translateX(0);

    -webkit-transition: 0.5s ease !important;
    -moz-transition: 0.5s ease !important;
    -o-transition: 0.5s ease !important;
    transition: 0.5s ease !important;
}

.data-tooltip {
    position: absolute;
    background-color: #04040488;
    padding: 0.2h 0.2vh;

    right: 0
}

.button {
    width: 100%;
    font-size: 1.0rem;
    background-color: transparent;
    color: #cecece;
    border: 2px solid #cecece;
    transition-duration: 0.3s;
}

.button:hover {
    color: #cecece;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
}

.active {
    color: black;
    background-color: #2CAFFF;
    border: 2px solid #2CAFFF;
}
.settings-hidden {
    transform: translateX(-100%);
}

.button-container {
    padding: 0.2vh;
}

.settings__capture-button-container {
}

.settings__capture-button-container__button {
}

.settings__import-export-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.settings__export-button-container {
    width: 50%
}

.settings__import-button-container {
    width: 50%

}

.settings__export-button-container__button {
}

.settings__import-button-container__button {
}

.settings__auto-hide-button-container {
}


.canvas {
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    z-index: -1;
}

.canvas-container {
    overflow: hidden;
}