
.category-settings {
    position: absolute;
    top: var(--topbar-height);
    left: var(--sidebar-category-width);
    width: calc(var(--sidebar-width) - var(--sidebar-category-width));
    height: calc(100% - var(--topbar-height) - 0.8rem);
    padding: 0.4rem;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    background-color: var(--background);
    /*border: var(--border-width) solid var(--background-bright);
    */

    font-family: var(--normal-font);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    transform: translateX(-100%);
    transition: transform 0.6s ease;
}

.category-settings--active {
    transform: translateX(0);
    z-index: 50;
}

.category-settings__main-container {
}

.category-settings__main-entries {
    padding: 0.5rem 1.0rem;
}

.category-settings__main-title {
    padding: 0.5rem;
    margin: 0rem;

    color: var(--foreground-dim);
    background-color: var(--transparent-background);
    text-align: center;
    font-family: var(--bold-font);
    font-size: 2rem; 
    text-transform: uppercase;
}

.category-settings__main-entry {
    padding: 0rem;
}

.category-settings__secondary-container {
    color: var(--foreground);
    background-color: var(--background-secondary);
    margin: 0.5rem;
}